# Build and Release Folders
node_modules
.vscode
test/features/test.feature
package-lock.json

# Other files and folders
test/report
test/screenshots

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
